# File managed by Ansible
# Content generated using autologic-package
# 
# Manual changes will likely be overwritten.

[{{repositoryid}}]
name={{name}}
enabled={{'1' if enabled|default(true) else '0'}}
baseurl={{baseurl}}
metalink={{metalink|default("")}}
mirrorlist={{mirrorlist|default("")}}
gpgcheck={{'1' if gpgcheck|default(true) else '0'}}
repo_gpgcheck={{'1' if repo_gpgcheck|default(true) else '0'}}
exclude={{exclude|default("")}}
includepkgs={{includepkg|default("")}}
keepalive={{'1' if keepalive|default(false) else '0'}}
timeout={{timeout|default(30)}}
retries={{retries|default(3)}}
throttle={{throttle|default(0)}}
bandwidth={{bandwidth|default(0)}}
sslcacert={{sslcacert|default("")}}
sslverify={{sslverify|default(true)}}
sslclientcert={{sslclientcert|default("")}}
sslclientkey={{sslclientkey|default("")}}
ssl_check_cert_permissions={{ssl_check_cert_permissions|default(true)}}
{% if use_proxy|default(false) %}
proxy= ""
proxy_username= ""
proxy_password= ""
username= ""
password= ""
{% endif %}
cost={{cost|default(1000)}}
skip_if_unavailable={{skip_if_unavailable|default(false)}}
