# File managed by Ansible
# Content generated using autologic-package
# 
# Manual changes will likely be overwritten.

{% for repository in autologic_software_repositories %}
[{{repository['repositoryid']}}]
{% for key,value in repository.iteritems() %}
{{key}}={{value}}
{% endfor %}
{% endfor %}
